body{
  background:#fff;
}

html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
/*::-webkit-scrollbar-thumb {
    background: #FF0000;
}*/

#wrapper{
  max-width:100%;
  position:relative;
}

button:focus {outline:0 !important;}

.fa-chevron-left-extra
{
  float:left;
  align-self:center;
  position:absolute;
  height:auto;
  top: 50%;
  transform-origin: 55% 50%;
  font-style:normal;
  font-weight:400;
  line-height:1;
  font-variant:normal;
  text-transform:none;
  font-size:2.5vw;
  transition:transform .1s ease-out 0s;
  transition-property: transform;
  transition-duration: 0.1s;
  transition-timing-function: ease-out;
  transition-delay: 0s;
  color:white;
  opacity: .8;
  z-index: 9999999;
  cursor: pointer;
}

.fa-chevron-right-extra
{
  align-self:center;
  position: absolute;
  height: auto;
  float: right;
  cursor: pointer;
  top: 50%;
  left: 98%;
  transform-origin: 55% 50%;
  font-style:normal;
  font-weight:400;
  line-height:1;
  font-variant:normal;
  text-transform:none;
  font-size:2.5vw;
  transition:transform .1s ease-out 0s;
  transition-property: transform;
  transition-duration: 0.1s;
  transition-timing-function: ease-out;
  transition-delay: 0s;
  color: white;
  z-index: 9999999;
  opacity: .7;
}

.fa-chevron-left-extra:hover {
  transform: scale(1);
  transition: all .2s ease-in-out;
  transform: scale(1.7);
}

.fa-chevron-right-extra:hover {
  transform: scale(1);
  transition: all .2s ease-in-out;
  transform: scale(1.7);
}

.module-section {
  max-width: 100%;
  overflow: hidden;
  overflow-x: hidden;
}

ul{
  width:600em;
  list-style-type:none;
  padding: 5px 60px 5px 55px
}

#content h2 {
  font-family: 'Helvetica Neue', Helvetica,Arial, sans-serif;
  color: #e5e5e5;
}

.clearfix {
  overflow: auto;
  zoom: 1;
}

.carouselContent {
  transform: translateY(-50%);
}