body{
  background:#fff;
}

html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
/*::-webkit-scrollbar-thumb {
    background: #FF0000;
}*/

#wrapper{
  max-width:100%;
  position:relative;
}

button:focus {outline:0 !important;}

.fa-chevron-left-extra
{
  float:left;
  align-self:center;
  position:absolute;
  height:auto;
  top: 50%;
  transform-origin: 55% 50%;
  font-style:normal;
  font-weight:400;
  line-height:1;
  font-variant:normal;
  text-transform:none;
  font-size:2.5vw;
  transition:transform .1s ease-out 0s;
  transition-property: transform;
  transition-duration: 0.1s;
  transition-timing-function: ease-out;
  transition-delay: 0s;
  color:blue;
  opacity: .8;
  z-index: 9999999;
  cursor: pointer;
}

.fa-chevron-right-extra
{
  align-self:center;
  position: absolute;
  height: auto;
  float: right;
  cursor: pointer;
  top: 50%;
  left: 98%;
  transform-origin: 55% 50%;
  font-style:normal;
  font-weight:400;
  line-height:1;
  font-variant:normal;
  text-transform:none;
  font-size:2.5vw;
  transition:transform .1s ease-out 0s;
  transition-property: transform;
  transition-duration: 0.1s;
  transition-timing-function: ease-out;
  transition-delay: 0s;
  color: blue;
  z-index: 9999999;
  opacity: .7;
}

.fa-chevron-left-extra:hover {
  transform: scale(1);
  transition: all .2s ease-in-out;
  transform: scale(1.7);
}

.fa-chevron-right-extra:hover {
  transform: scale(1);
  transition: all .2s ease-in-out;
  transform: scale(1.7);
}

.module-section{
  max-width: 100%;
  overflow: hidden;
  overflow-x: hidden;
}

ul{
  width:600em;
  list-style-type:none;
  padding:15px 0 15px 0;
}

/*
.arrow-guides, .arrow-guides:hover{

font-size:29px;
font-family: FontAwesome;
font-style: normal;
font-weight: normal;
float:left;
position:relative;
top:80px;
left:-10px;
padding: 10px 5px 5px 2px;
background:#999;
color:#fff;
}
*/

/*
.arrow-guides-right, .arrow-guides-right:hover{

font-size:29px;
font-family: FontAwesome;
font-style: normal;
font-weight: normal;
float:right;
position:relative;
bottom:185px;
right:-40px;
padding: 10px 2px 5px 5px;
background:#999;
color:#fff;
}

*/


.clearfix {
  overflow: auto;
  zoom: 1;
}
