.card {
  width: 350px;
  height: 250px;
  float:left;
  margin-right:10px;
  margin-bottom:50px;
  transform: scale(1);
  background-size: 100% 100%;
  visibility:visible;
  -moz-box-shadow: 0px 1px 5px 0px #676767;
  -webkit-box-shadow: 0px 1px 5px 0px #676767;
  box-shadow: 0px 1px 5px 0px #676767;
  z-index: 500;
}

.effect:hover {
  height: 300px;
  cursor: pointer;
  visibility: visible;
  transition: all .2s ease-in-out; 
  transform: scale(1.1);
  position:relative;
  transition-timing-function:cubic-bezier(0.5, 0, 0.1, 1);
  transition-duration:400ms;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  z-index: 1000;
}

.inside-top {
  height: 100%;
  width: 100%;
  position: absolute;
  top:0;
  left:0;
  padding: 15px;
}

.inside-top h2 {
  color: white;

}

.inside-top p {
  color: white;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 14px;
  font-weight: bold;
}

.backdrop {
  height: 150px;
  width: 350px;
}

.cardText {
  text-align: center;
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}

.inside-top b {
  color: white;
  font-size: 16px;
  margin-top: 50px;
  bottom: 0;
}